{% extends 'index.html' %} {% block content %}
<div class="landing">
  <h1>Thesis searcher</h1>
  <p>
    Welcome to Thesis Seeker! Your one-stop destination for effortlessly
    browsing through a diverse array of theses from various disciplines. Whether
    you're a student, researcher, or academic, our user-friendly platform
    streamlines the process of finding relevant and insightful academic works.
    With advanced search filters and intuitive navigation, Thesis Seeker
    empowers you to discover, explore, and access a wealth of scholarly
    knowledge, all in one place. Start your journey of academic exploration with
    Thesis Seeker today!
  </p>
  <a href="thesis">Search for thesis</a>
</div>
{% endblock content %}
